.img {
  width: 800px;
  height: 400px;
  transform: scale(-1, 1);
  margin-left: 35px;
}

.wrapper {
  display: flex;
  align-items: center;
}

.text {
  margin-right: 35px;
}

.paragraph {
  font-weight: 400;
  margin-top: 16px;
}
