.td4 {
  max-width: 380px;
  word-break: break-all;
}

.td1 {
  max-width: 268px;
  word-break: break-all;
}

.td2 {
  max-width: 135px;
  word-break: break-all;
}

.td3 {
  max-width: 86px;
  word-break: break-all;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.cursor {
  cursor: pointer;
}

.link {
  color: #212529;
  text-decoration: none;
}

.link:hover {
  color: #0d6efd;
}
