.wrapper {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}

.cell1 {
  word-break: break-word;
  width: 100px;
}

.cell2 {
  word-break: break-word;
}

.cellIcon {
  width: 50px;
  vertical-align: middle;
  text-align: center;
}

.btnEdit {
  border: none;
  background-color: transparent;
}

.p {
  margin: 0;
}

.table {
  width: 500px;
}

.img {
  width: 260px;
  margin-right: 80px;
}

.td {
  word-break: break-word;
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 35px;
}

.invalidMessage {
  color: red;
}

.row {
  vertical-align: middle;
}
.oldPasswordTextarea {
  resize: none;
  border: none;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
