.button {
  width: 100%;
  margin-top: 10px;
}

.a {
  text-align: center;
}

.form {
  width: 200px;
}

@media screen and (min-width: 1400px) {
  .form {
    width: 350px;
  }

  .button {
    margin-top: 15px;
  }
}
