.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.button {
  border: none;
  background-color: transparent;
}

.td1 {
  word-break: break-all;
  max-width: 300px;
}

.p {
  margin: 0;
}

.thButton {
  display: flex;
  justify-content: center;
}

.thIndex {
  word-break: break-all;
  max-width: 45px;
}

.link {
  color: #212529;
  text-decoration: none;
}

.link:hover {
  color: #0d6efd;
}
