.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.link {
  color: #212529;
  text-decoration: none;
}

.link:hover {
  color: #0d6efd;
}

.cursor {
  cursor: pointer;
}

.cell1 {
  width: 130px;
  word-break: break-word;
}

.cell2 {
  width: 360px;
  word-break: break-word;
}

.cell3 {
  width: 360px;
  word-break: break-word;
}

.cell4 {
  vertical-align: middle;
}

.cell5 {
  vertical-align: middle;
  text-align: center;
  width: 100px;
}

.theadCell3 {
  text-align: center;
}

.switchInput {
  display: flex;
  justify-content: center;
  align-items: center;
}
