div .icon + .ul {
  left: -60px;
  min-width: 125px;
}

.icon {
  background: none;
  border: none;
}

nav > .container {
  padding: 0 40px;
  margin: 0;
}

.background {
  background-color: #daddfc;
}

.ul .linkItem {
  white-space: normal;
  word-break: break-word;
}
