.a:hover {
  color: #0d6efd;
  transition: color 0.15s ease-in-out;
  text-decoration: none;
}

.a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}

.li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  width: 25px;
  margin-right: 10px;
}
