.wrapper {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}

.cell1 {
  width: 100px;
}

.cell2 {
  word-break: break-word;
}

.table {
  width: 500px;
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 35px;
}

.invalidMessage {
  color: red;
}

.row {
  vertical-align: middle;
}

.cursor {
  cursor: pointer;
}
