html,
body {
  /*min-height: 100vh;*/
  /*overflow: hidden;*/
  /*overscroll-behavior: auto;*/
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*overflow: hidden;*/
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a,
button {
  cursor: pointer;
}
